<app-menu-home></app-menu-home>
<div class="apresentacao">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <p class="display-4 cor-textos">Seleção fácil e rápida de candidatos para suas vagas!</p>
        <p class="apresentacao">Gerencie seus processos seletivos com os melhores especialistas em recrutamento do mercado e aproveite de nossas soluções para contratar os profissionais mais capacitados.</p>
      </div>
      <div class="col-6 text-center">
        <img src="assets/images/principal.png" alt="" width="500">
      </div>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card imagem-card">
    <div class="card-body card sem-borda" align-items-center>
      <div class="margem-imagem-card">
        <img src="assets/images/automacao.png" width = "60" />
      </div>
      <h5 class="card-title fonte-titulos">Automação dos recursos de seleção</h5>
      <p class="card-text">Realize processos seletivos adaptados as demandas de sua organização com o apoio de estratégias de recrutamento baseadas em dados e em ferramentas de inteligência artificial e geolocalização.</p>
    </div>
  </div>
  <div class="card imagem-card">
    <div class="card-body card sem-borda" align-items-center>
      <div class="margem-imagem-card">
        <img src="assets/images/curriculo.png" width = "67" />
      </div>
      <h5 class="card-title fonte-titulos">Base de candidatos</h5>
      <p class="card-text">Encontre o candidato ideal com o acesso ilimitado à nossa base de mais de 8 milhões de profissionais, com triagem inteligente de perfils e comunicação direta com os candidatos.</p>
    </div>
  </div>
  <div class="card imagem-card">
    <div class="card-body card sem-borda" align-items-center>
      <div class="margem-imagem-card">
        <img src="assets/images/softskills.png" width = "60" />
      </div>
      <h5 class="card-title">Soft Skills</h5>
      <p class="card-text">Garanta a seleção de profissionais de alto desempenho através da avaliação de habilidades comportamentais e técnicas com o auxílio de testes e dinâmicas de grupo e individuais.</p>
    </div>
  </div>
  <div class="card imagem-card">
    <div class="card-body card sem-borda" align-items-center>
      <div class="margem-imagem-card">
        <img src="assets/images/recrutamento.png" width = "60" />
      </div>
      <h5 class="card-title fonte-titulos">Recrutamento perfeito</h5>
      <p class="card-text">Saiba o potencial de crescimento do candidato dentro da empresa, através das métricas de fit cultural relacionadas a aderência a misão, visão e valores adotados pela organização.</p>
    </div>
  </div>
</div>

<div class="text-center cor-clientes">
  <p class="titulo-clientes">Clientes que confiam na Great People Interprise</p>
  <div class="row area-logo">
    <div class="col">
      <img src="assets/images/brainchat.png" class="logo-clientes" alt="Logo cliente Brain Chat">
    </div>
    <div class="col">
      <img src="assets/images/wanderlust.png" class="logo-clientes" alt="Logo cliente Wanderlust">
    </div>
    <div class="col">
      <img src="assets/images/aquos.png" class="logo-clientes" alt="Logo cliente Aquos">
    </div>
    <div class="col">
      <img src="assets/images/flower.png" class="logo-clientes" alt="Logo cliente Flower">
    </div>
    <div class="col">
      <img src="assets/images/carrios.png" class="logo-clientes" alt="Logo cliente Carrios">
    </div>
    <div class="col">
      <img src="assets/images/beauty.png" class="logo-clientes" alt="Logo cliente Beauty">
    </div>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img src="assets/images/selecao.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/contratacao.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/diversidade.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próxima</span>
  </button>
</div>

<div class="text-center area-cadastro sem-borda">
  <button type="button" class="btn btn btn-lg botao-cadastro hover" routerLink="/cadastro">Cadastre-se</button>
</div>

<div class="rodape-principal">
  <div class="largura-rodape">
    <div class="margem-inferior-rodape">
      <h4 class="card-title titulo text-center">Fale com nossos especialistas</h4>
      <div class="espacamento-texto-rodape">
        <div class="row">
          <div class="col-4 alinhamento-imagem">
              <img src="assets/images/telefone.png " class="imagem-telefone" alt="Telefone"/>
              <p>(11) 3157-9687 (21) 3157-9687

              </p>
          </div>

          <div class="col-4 alinhamento-imagem">
              <img src="assets/images/instagram.png" class="imagem-instagram" alt="Instagram" />
              <p>@greatpeopleinterprise</p>
          </div>

          <div class="col-4 alinhamento-imagem">
            <img src="assets/images/linkedin.png" class="imagem-linkedin" alt="LinkedIn" />
            <p>linkedin/greatpeopleinterprise</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="area-mapa">
  <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14628.335946765572!2d-46.652427!3d-23.5654269!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c794a7aa7f%3A0xb829a724a0e0f972!2sImpacta%20Treinamentos!5e0!3m2!1spt-BR!2sbr!4v1674701368663!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<div class="rodape-secundario text-center">
  Todos os direitos reservados ©. 
</div>

