<div class="margem-superior">
    <h2 class="mb-3 titulo">Suas Vagas</h2>
    <div class="d-flex mb-3">
        <div class="me-auto p-2">
            <input class="form-control me-2" size="50" type="search" placeholder="Pesquise pelo título da vaga" aria-label="Search" #busca (keyup)="0">
        </div>
      </div>
      <div>
        <button class="mb-3 btn btn-primary">Adicionar nova vaga</button>
      </div>
    <table class="table table-striped mb-3 tabela tabela-listrada" *ngIf="temVagasCadastradas">
        <thead class="titulos-tabela">
            <tr>
                <th class="cabecalho-tabela">ID</th>
                <th class="cabecalho-tabela">Título da vaga</th>
                <th class="cabecalho-tabela">Modalidade</th>
                <th class="cabecalho-tabela">Turno</th>
                <th class="cabecalho-tabela">Escolaridade</th>
                <th class="cabecalho-tabela">Salário</th>
                <th class="alinhamento-data cabecalho-tabela">Data limite de inscrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vaga of listaVagas | filtrovagas:busca.value">
                <td>{{vaga.id}}</td>
                <td>{{vaga.titulodavaga}}</td>
                <td>{{vaga.modalidade}}</td>
                <td>{{vaga.turno}}</td>
                <td>{{vaga.escolaridade}}</td>
                <td>{{vaga.salario | currency:"BRL"}}</td>
                <td class="alinhamento-data">{{vaga.datalimiteinscricao | date: "dd/MM/yy"}}</td>
                <td><button class="btn botao-detalhes">Ver Detalhes</button></td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-info text-center" *ngIf="!temVagasCadastradas">Você ainda não incluiu uma nova vaga</div>
</div>