@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Righteous&family=Sarala:wght@700&display=swap');

.titulo {
    padding-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
}

.botao-vagas{
    color: #fff;
    background-color: #5E7888;
    border: solid 1px #fff;
    transition: transform 2ms;
}

.botao-vagas:hover{
    transform: scale(1.08);
}

.titulos-tabela {
    font-size: 18px;
}

.botao-detalhes {
    color: #fff;
    background-color: #5E7888;
    border: solid 1px #fff;
    transition: transform 2ms;
}

.botao-detalhes:hover{
    transform: scale(1.08);
}

.tabela-listrada>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #a6b4bd;
    color: #000;
    vertical-align: middle;
    text-align: center;
}


.tabela>:not(caption)>*>* {
    background-color: #bcc6cd; 
    color: #000;
    vertical-align: middle;
    text-align: center;
}

.cabecalho-tabela {
    vertical-align: middle;
    text-align: center;
}


.alinhamento-data {
    text-align: center;
}