<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a routerLink="/home">
      <img class=logo-greatpeople src="assets/images/greatpeople.png" alt="Logo Great People" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li>
          <img src="" alt="logo">
        </li> -->
        <li class="nav-item">
          <a class="nav-link active menu" aria-current="page" href="#">Página Principal</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Para Empresa
          </a>
          <ul class="dropdown-menu sub-menu">
            <li><a class="dropdown-item" routerLink="/home">Página Principal</a></li>
            <li><a class="dropdown-item" routerLink="/login">Login Empresa</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/cadastro">Cadastre-se</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Para Candidato
          </a>
          <ul class="dropdown-menu sub-menu">
            <li><a class="dropdown-item" href="#">Vagas</a></li>
            <li><a class="dropdown-item" href="#">Teste vocacional</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cursos profissionalizantes</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>