.margem-botoes{
    margin: 3px;
}

.botao-cadastro{
    background-color:#D96704;
    border: solid 1px;
    color: #FEFAF6;
    font-family: 'Nanum Gothic', sans-serif;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    font-weight: bold;
}

.botao-login{
    background-color: #5D8A66;
    border: solid 1px;
    color: #FEFAF6;
    font-family: 'Nanum Gothic', sans-serif;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    font-weight: bold;
}

.botao-cadastro:hover{
    transform: scale(1.08)
}

.botao-login:hover{
    transform: scale(1.08)
}