<div class="container">
    <h1 class="display-6 margem-superior mb-3">Boas vindas administrador ao painel adminstrativo de empresas</h1> 
    <hr>
    <h2 class="margem-superior mb-3">Listagem de empresas</h2>

    <div class="d-flex mb-3">
        <div class="me-auto p-2">
            <input class="form-control me-2" size="50" type="search" placeholder="Digite o nome da empresa" aria-label="Search" #busca (keyup)="0">
        </div>
        <div class="p-2">   
            <select class="form-select p-2" name="uf" id="uf" #uf (change)="0">
                <option value="">Todos os estados</option>
                <option *ngFor="let e of estados" value="{{e.sigla}}">{{e.nome}} - {{e.sigla}}</option>
            </select>
        </div>
      </div>

    <table class="table table-striped">
        <thead class="titulos-tabela">
            <tr>
                <th class="cabecalho-tabela">ID</th>
                <th class="cabecalho-tabela">Nome</th>
                <th class="cabecalho-tabela">Razão Social</th>
                <th class="cabecalho-tabela">CNPJ</th>
                <th class="cabecalho-tabela">Telefone</th>
                <th class="cabecalho-tabela">Site</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of empresas | filtroempresa:busca.value:uf.value">
                <td class="dados">{{e.id}}</td>
                <td class="dados">{{e.nome | uppercase}}</td>
                <td class="dados">{{e.razaoSocial | uppercase}}</td>
                <td class="dados">{{e.cnpj | formatacaocnpj}}</td>
                <td class="dados">{{e.telefone | formatacaotelefone}}</td>
                <td class="dados">{{e.site | camposopcionais}}</td>
                <td>
                    <button class="btn botao-detalhes" routerLink="/painelAdministrativo/detalhes/{{e.id}}">Detalhes</button>
                </td>
                <td>
                    <a routerLink="/painelEmpresa/alterar/{{e.id}}"><i class="bi bi-pencil"></i></a>
                </td>
                <td>
                    <a routerLink="/painelEmpresa/excluir/{{e.id}}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>