<div class="container bloco-principal">
        <div class="bloco-confirmacao">
                <h1 class="text-danger">{{mensagemExclusao}}</h1>
                <p class="text-uppercase">Empresa: {{empresa.nome}}</p>
                <form>
                        <button class="btn btn-secondary" (click)="voltar()">Não, voltar para o painel</button>
                        <button class="btn btn-danger" (click)="excluir(id)">Sim, excluir a conta</button>
                </form>
        </div>
</div>