<div class="row">
  <div class="imagem col-6">
    <img src="assets/images/login.png" alt="" width="1000" />
  </div>
</div>

<div class="row">
  <div class="area-login col-6">
    <div class="area-login container">
      <h1 class="text-lg-center texto-cabecalho">Bem vindo novamente!</h1>
      <h4 class="texto-secundario">Não tem uma conta ainda? Cadastre-se</h4>
      <form class="margem-form mb-5">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Usuário" [(ngModel)]="user.nome" name="nome">
          <label for="floatingInput caixa-input">Usuário</label>
        </div>
        <div class="form-floating mb-4">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Senha" [(ngModel)]="user.senha" name="senha">
          <label for="floatingPassword">Senha</label>
        </div>
        <!-- Botão de ver senha -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" (change)="mostrarSenha()" name="verSenha" id="verSenha">
          <label for="verSenha" class="form-check-label texto-secundario" style="font-size: 16px;">Ver Senha</label>
        </div>
        <!-- Botão de ver senha -->
        <div class="alinhamento-botao">
        <button type="button" class="btn botao hover" (click)="validar(user)">Entrar</button>
        </div>
      </form>
      <div *ngIf="erro" class="alert alert-danger">{{erro}}</div>
    </div>
  </div>
</div>