<div class="container">
    <h2 class="">Dados de Usuário</h2>
    <form class="tamanho-form">
        <div>
            <p>Nome: {{empresa.nome}}</p>
            <p>Razão Social: : {{empresa.razaoSocial}}</p>
            <p>CNPJ: {{empresa.cnpj | formatacaocnpj}}</p>
            <p>Telefone: {{empresa.telefone | formatacaotelefone}}</p>
            <p>Site: {{empresa.site}}</p>
            <p>Endereço:</p>
            <p>CEP: {{endereco.cep | formatacaocep}}</p>
            <p>Logradouro: {{endereco.logradouro}}</p>
            <p>Número: {{endereco.numero}}</p>
            <p>Estado: {{endereco.uf}}</p>
            <p>Cidade: {{endereco.cidade}}</p>
        </div>
        <div class="mb-3">
            <button class="btn btn-warning margem-botao" routerLink="/painelEmpresa/alterar/{{empresa.id}}">Alterar</button>
            <button class="btn btn-danger margem-botao" routerLink="/painelEmpresa/excluir/{{empresa.id}}">Excluir conta</button>
        </div>  
    </form>
</div>