.margem-superior{
    margin-top: 30px;
}
.margem-form{
    margin: auto;
    max-width: 500px;
}

.sem-borda {
    border: 0px
}

.espaçamento-superior{
    padding-top: 10px;
}

.espaçamento-inferior{
    padding-bottom: 10px;
}