<div class="fundo-externo">
    <div class="alinhamento">
        <form class="conteudo">
            <h1 class="display-5 titulo">Detalhes da empresa</h1>

            <p><span class="negrito">Nome: </span>{{empresa.nome}}</p>

            <p><span class="negrito">Razão Social: </span>{{empresa.razaoSocial}}</p>

            <p><span class="negrito">CNPJ: </span>{{empresa.cnpj| formatacaocnpj}}</p>

            <p><span class="negrito">Telefone: </span>{{empresa.telefone | formatacaotelefone}}
            
            <p><span class="negrito">Site: </span>{{empresa.site}}</p>

            <p><span class="negrito">CEP: </span>{{endereco.cep | formatacaocep}}</p>

            <p><span class="negrito">Logradouro: </span>{{endereco.logradouro}}</p>

            <p><span class="negrito">Número: </span>{{endereco.numero}}</p>

            <p><span class="negrito">Estado: </span>{{endereco.uf}}</p>

            <p><span class="negrito">Cidade: </span>{{endereco.cidade}}</p>      
            
            <div class="mb-3 alinhamento-botoes">
                <button class="btn botao-voltar" routerLink="/painelAdministrativo">Voltar para a lista</button> 
                <button class="btn botao-alterar margem-botao" routerLink="/painelEmpresa/alterar/{{empresa.id}}">Alterar</button> 
                <button class="btn botao-exclusao margem-botao" routerLink="/painelEmpresa/excluir/{{empresa.id}}">Excluir conta</button>
            </div>
        </form>
    </div>
</div>